{% extends 'base.html' %} {% load static %} {% block title %}JurisAI -
Home{%endblock %} {% block content %}

<div class="container" >
  <h1 class="text-center my-3">Your Personal Legal Assitant</h1>

  <div class="chat">
	<pre id="prompt">
User: Hi, What can you do for me?
JurisAI: Your personal chatbot is here.
	</pre>
	<div class="form-floating">
	  <textarea
		class="form-control"
		placeholder="Ask me anything..."
		id="typedPrompt"
		oninput="autoResize(this)"
		style="overflow: hidden;"
	  ></textarea>
	  <!-- <label for="typedPrompt">Comments</label> -->
	</div>
	{% csrf_token %}
	<button type="button" id="submit" class="btn btn-dark my-3">send</button>
  </div>
</div>

<script>
  // for resizing textarea
  function autoResize(textarea) {
	textarea.style.height = "auto";
	textarea.style.height = textarea.scrollHeight + "px";
  }

  let csrfmiddlewaretoken = document.querySelector("input[type=hidden]").value;
  console.log(csrfmiddlewaretoken);

  const fetchData = async (myPrompt) => {
	let data = new FormData();
	data.append("prompt", myPrompt);
	data.append("csrfmiddlewaretoken", csrfmiddlewaretoken);

	let a = await fetch("/api", {
	  method: "POST",
	  body: data,
	  credentials: "same-origin",
	});
	let r = await a.json();
	return r;
  };
  submit.addEventListener("click", async () => {
	let myPrompt =
	  document.getElementById("prompt").innerText +
	  "\nUser: " +
	  typedPrompt.value +
	  "\nJurisAI: ";
	document.getElementById("prompt").innerText = myPrompt;
	response = await fetchData(myPrompt);
	document.getElementById("prompt").innerText += response.choices[0].message.content;
	document.getElementById("typedPrompt").value = "";
	//  response["choices"][0].text
  });
  //   response = await fetchData()
  //   console.log(response);
</script>

<style>
  .chat {
	max-height: 70vh; /* Adjust the height as needed */
	overflow-y: auto;
  }
  body {
	background-color: #f5f5f5; /* Set your desired background color */
	font-family: Arial, sans-serif; /* Set your desired font family */
  }

  .container {
	background-color: #ffffff; /* Set container background color */
	padding: 20px;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
	color: #333333; /* Set header text color */
  }

  .chat {
	max-height: 70vh; /* Adjust the height as needed */
	overflow-y: auto;
	background-color: #ffffff; /* Set chat container background color */
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  #typedPrompt {
	resize: none;
	font-size: 16px; /* Set textarea font size */
  }

  .btn {
	background-color: #333333; /* Set button background color */
	color: #ffffff; /* Set button text color */
	font-size: 16px; /* Set button font size */
  }
</style>

{% endblock %}
